.ls:hover {
    background-color: rgb(217, 220, 210, 0.8);
    box-shadow: 1px 2px 10px;
    border-radius: 5%;
}

.list_service {
    display: flex;
    flex-direction: column;
}

.service {
    display: flex;
    flex-direction: column;
}

/* .service > a {
   margin-bottom: 10px; 
   font-size: 20px;
   text-decoration: none;
    color: #160554;
    margin-left: 20px;
} */

.a_title_service {
    margin-bottom: 10px; 
   font-size: 20px;
   text-decoration: none;
    color: #160554;
    margin-left: 20px;
}


.service a:hover {
    /* font-size: 20px; */
    color: rgb(21, 84, 42);
    text-shadow: 1px 1px 2px;
}

.div_for_a  a {
    margin-bottom: 5px; 
    font-size: 18px;
    color: #78680c; 
    margin-left: 40px;
}


.a_active {
    font-size: 20px;
    color: rgb(156, 99, 20);
    
}

.div_for_a {
    display: none;
    flex-direction: column;
}

.div_for_a_activ {
    display: flex;
    flex-direction: column;
}