

    .hd{
        display: flex;
        
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }

    .nav{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        display: flex;
        align-items: center;
        text-align: center;
        text-decoration: none;
        color: #160554;
        
        margin-right: 40px;
    }

    .nav:hover{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        /* font-size: 22px; */
        line-height: 24px;
        display: flex;
        align-items: center;
        text-align: center;
        text-decoration: none;
        color: #1790a9;
        text-shadow: 1px 1px 2px rgb(20, 59, 176);
        margin-right: 40px;
    }

    .navAll{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: center;
        
    }

    .logo{
        margin-left: 5%;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 39px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #3D4083;
    }

    .btn_menu {
        display: none;
    }

    .menu_700px {
        display: none;
    }



@media all and (max-width: 700px)  {
    .navAll {
        display: none;
    }

    .btn_menu{
        display: block;
        
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        color: #160554;
        margin-right: 20px;
    }

    .nav {
       margin: 10px 0px 10px 5px; 
       font-size: 18px; 
       text-decoration: underline;
    }

    .menu_700px {
        /* need display:flex */
        display: none; 
        position: absolute;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 150px;
        border: solid 1px ;
        background:  rgb(217, 220, 210);
        top: 100px;
        right: -20px;
        /* justify-content: s; */
        /* align-items: center; */
    }

    .head_menu_700px {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content:space-between; 
        align-items: center; 
        border: solid 2px ;
    }

    .p_menu {
        margin-left: 5px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #160554;
    }

    .p_x {
        margin-right: 10px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        color: #160554; 
    }

}


 