.hd{
    display: flex;
    
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.nav{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: #160554;
    
    margin-right: 40px;
}

.nav:hover{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: #1790a9;
    text-shadow: 1px 1px 2px rgb(20, 59, 176);
    margin-right: 40px;
}

.navAll{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    
}

.logo{
    margin-left: 5%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #3D4083;
}

.btn_menu {
    display: none;
}


@media all and (max-width: 700px)  {
    .navAll {
        display: none;
    }

    .btn_menu{
        display: flex;
      
       
        
    }

}