.rs:hover {
    background-color: rgb(217, 220, 210, 0.9);
    box-shadow: -1px 2px 10px;
    border-radius: 5%;
} 

.total_carusel{
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.arrow_left, .arrow_right{
    display: none;
}

#carusel  img {
    width: 250px;
    height: 250px;
    margin: 10px 10px;
}

.carusel {
   display: flex; 
   flex-direction: column;
   flex-wrap: nowrap;
   align-items: center;
}



.arrow {
    position: absolute;
    width: 80px;
    height: 80px;
   
}

.arrow > img {
    width: 100%;
    height: 100%;
}

.arrow_up {
    left: 37%;
    z-index: 10;
}

.arrow_up:hover {
     top: -10px;
}

.arrow_down {
    left: 37%;
    bottom: 0px;
    z-index: 10;
}

.arrow_down:hover {
    bottom: -10px;
}

.p_our_work {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #160554;
    text-align: center;
  

}

.elDivImg {
    position: relative;

}

.elBtnImg {
    height: 30px;
    width: 60px;
    border-radius: 20%;
    background-color: rgb(211, 228, 232);
    position: absolute;
    left: 110px;
    bottom: 30px;
    /* z-index: 10; */
}

.elBtnImg:hover {
    border-radius: 40%;
    background-color: rgb(60, 147, 166);
    color: rgb(244, 239, 239);
    border: rgb(244, 239, 239);
}


@media all and (max-width: 1200px)  {
    
    .arrow_up, .arrow_down{
        display: none;
    }

    .total_carusel {
        height :max-content;
        width: 100vw;
        /* overflow: hidden; */
    }
    .carusel {
       flex-direction: row;
    }
    
   .arrow_left {
        display: block;
        left: 0px;
        z-index: 10;
    }
    
    .arrow_left:hover {
       left: -10px;
    }
    
    .arrow_right {
        display: block;
        right: 0px;
        z-index: 10;
    }
    
    .arrow_right:hover {
        right: -10px;
    }

    .arrow {
        top: 30%;
    }
}